.w100 {
  width: 100px;
}

.h100 {
  height: 100px;
}

.w100 {
  width: 100px;
}

.h200 {
  height: 200px;
}

.w300 {
  width: 300px;
}

.h300 {
  height: 300px;
}

.bg1 {
  background-color: #dddddd;
}

.bg2 {
  background-color: #666666;
  color: white;
}

h {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

demo-grid-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

demo-grid-list > * {
  margin-bottom: 20px;
}

demo-grid-list > *:not(:last-child) {
  margin-right: 20px;
}

demo-row {
  display: flex;
  align-items: center;
}

demo-row > *:not(:last-child) {
  margin-right: 20px;
}

demo-column {
  display: flex;
  flex-direction: column;
}

demo-column > *:not(:last-child) {
  margin-bottom: 20px;
}

iframe {
  border: 1px solid #eee;
  width: 320px;
  height: 200px;
  margin: 0px;
  overflow: scroll;
}
